<div class="card-body style-primary no-y-padding">
  <form class="form form-inverse">
    <div class="form-group">
      <div class="input-group input-group-lg">
        <div class="input-group-content">
          <input type="text" class="form-control" id="searchInput" placeholder="Enter your search here">
          <div class="form-control-line"></div>
        </div>
        <div class="input-group-btn">
          <button class="btn btn-floating-action btn-default-bright" type="button">
            <ion-icon name="search"></ion-icon>

            <!--</i>-->
          </button>
        </div>
      </div>
    </div><!--end .form-group -->
  </form>
</div>
