<nav style="height: 48px;">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo" style="font-size: 1.8rem">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

        <div class="row">
            <div class="col s6 offset-s3">
                <ul class="tabs">
                    <li style="background-color: #ee6e73;" class="tab col s3">
                        <a style="color: white"
                           class="active"
                           (click)="goTo('companies')">Companies</a>
                    </li>
                    <li style="background-color: #ee6e73;" class="tab col s3">
                        <a style="color: white"
                           (click)="goTo('users')">Users</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <ul class="right hide-on-med-and-down">
             <li><a [routerLink]="['/content/companies']">Companies</a></li>
             <li><a [routerLink]="['content/users']">Users</a></li>
         </ul>-->
        <ul class="side-nav" id="mobile-demo">
            <li><a [routerLink]="['/content/companies']">Companies</a></li>
            <li><a [routerLink]="['content/users']">Users</a></li>
        </ul>
    </div>
</nav>